[Unit]
Description=Start Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash /home/yadimir/Desktop/kwProy02/pre-config/02bash.sh
User=yadimir

[Install]
WantedBy=multi-user.target