 <p>nota-nueva works!</p>
<body>
  
    <div id="notaDatosRecoleccion" class="nota">
      <h1>Nota Nueva</h1>
      <h3>Datos Recolecta</h3>
      <form class="formNotaNueva" (submit)="enviarFormulario ()">
        <p>
        <label>Cliente</label>  
        <input type="text" name="Cliente">
          <label>Fecha Hora Recolecta</label>  
          <input type="date" name="FechaRecolecta">
          <label>Numero de Nota</label>  
          <input type="number" name="NumeroNota">
            </p>
          
  <div id="servicioHoteleria" class="nota">
            <h3>Servicio Hoteleria</h3>
  
        <p>
          <label for="serviciosHoteleria">Seleccionar Servicios Hoteleria</label>
          <select id="hoteleria" name="servicio">
            <option value="">Seleccionar servicio</option>
            <option value="almoada">Almoada</option>
            <option value="fundasAlmohadasViejas">Fundas Almohadas Viejas</option>
            <option value="fundasAlmohadasNuevas">Fundas Almohadas Nuevas</option>
            <option value="sabanaNueva">Sabana Nueva</option>
            <option value="sabanaVieja">Sabana Vieja</option>
            <option value="toallaDeBañoVeja">Toalla De Baño Veja</option>
            <option value="toallaDeBañoNueva">Toalla De Baño Nueva</option>
            <option value="tapeteDeBañoVieja">Tapete De Baño Vieja</option>
            <option value="tapeteDeBañoNueva">Tapete De Baño Nueva</option>
            <option value="toallaDeManoVieja">Toalla De Mano Vieja</option>
            <option value="toallaDeManoNueva">Toalla De Mano Nueva</option>
            <option value="toallaFacial">Toalla Facial</option>
            <option value="bataDeBaño">Bata De Baño</option>
            <option value="cobertor">Cobertor</option>
            <option value="edrecolcha">Edrecolcha</option>
            <option value="relleno">Relleno</option>
            <option value="cortinaDeBaño">Cortina De Baño</option>
            <option value="rodapie">Rodapie</option>
            <option value="dubeth">Dubeth</option>
            <option value="protectorDeColchon">Protector De Colchon</option>
            <option value="pieDeCama">Pie De Cama</option>
            <option value="limpion">Limpion</option>
            <option value="cortinaBlackout">Cortina Blackout</option>
          </select>
        </p>
        <p>
            <label for="cantidadNumerica">Cantidad Numérica:</label>
            <input type="number" id="cantidadNumerica">
        </p>
        <button type="button" id="btnAgregar" (click)="agregarCantidad ()">Agregar Cantidad</button>
        <p id="cantidadMostrada">{{cantidadSeleccionada}}</p>
    </div>

    <script>
        const selectServicio = document.getElementById('hoteleria');
        const inputCantidad = document.getElementById('cantidadNumerica');
        const btnAgregar = document.getElementById('btnAgregar');
        const cantidadMostrada = document.getElementById('cantidadMostrada');
            //evento de cambio en el select
        selectServicio.addEventListener('change', () => {
            //Obtener el valor Selecionado
            const servicioSeleccionado = selectServicio.value;
            //muestra el valor en la consola
            console.log('Servicio selecionado: ${servicioSelecionado}');
        });
        //evento de clic en el boton
        btnAgregar.addEventListener('click', () => {
            const cantida = inputCantidad.value;
            cantidadMostrada.textContent = 'cantidad seleccionada: ${cantidad}';
        })
      </script>
      <div id="descartesHospital" class="nota">
        <h3>Descartes Hospital</h3>
             
                 <h4>Toalla De Baño</h4>
          <p>
            
            <label for="descartesYReposicionesHospitalToallaDeBaño">Seleccionar Servicios EXT Hospital</label>
          <select id="descartesToallaDeBaño">
            <option value="">Seleccionar servicio</option>
            <option value="toallaDeBañoDescartesClorhexidina">Toalla De Baño Descartes Clorhexidina</option>
            <option value="toallaDeBañoDescartesArrastre">Toalla De Baño Descartes Arrastre </option>
            <option value="toallaDeBañoDescartesTinta">Toalla De Baño Descartes Tinta </option>
            <option value="toallaDeBañoDescartesVieja">Toalla De Baño Descartes Vieja </option>
            <option value="toallaDeBañoDescartesCloro">Toalla De Baño Descartes Cloro </option>
            <option value="toallaDeBañoDescartesPuntoAzul">Toalla De Baño Descartes Punto Azul </option>
  
          </select>
          </p>
          <h4>Cobertor </h4>
          <p>
            
            <label for="descartesYReposicionesHospitalCobertor">Seleccionar Servicios EXT Hospital</label>
          <select id="descartesCobertor">
            <option value="">Seleccionar servicio</option>
            <option value="cobertorDescartesClorhexidina">Cobertor  Descartes Clorhexidina</option>
            <option value="cobertorDescartesArrastre">Cobertor  Descartes Arrastre </option>
            <option value="cobertorDescartesTinta">Cobertor Descartes Tinta </option>
            <option value="cobertorDescartesVieja">Cobertor Descartes Vieja </option>
            <option value="cobertorDescartesCloro">Cobertor Descartes Cloro </option>
            <option value="cobertorDescartesPuntoAzul">Cobertor Descartes Punto Azul </option>
  
          </select>
          </p>
          <h4>Toalla De Mano </h4>
          <p>
            
            <label for="descartesYReposicionesHospitalToallaDeMano">Seleccionar Servicios EXT Hospital</label>
          <select id="descartesToallaDeMano">
            <option value="">Seleccionar servicio</option>
            <option value="toallaDeManoDescartesClorhexidina">Toalla De Mano Descartes Clorhexidina</option>
            <option value="toallaDeManoDescartesArrastre">Toalla De Mano Descartes Arrastre </option>
            <option value="toallaDeManoDescartesTinta">Toalla De Mano Descartes Tinta </option>
            <option value="toallaDeManoDescartesVieja">Toalla De Mano Descartes Vieja </option>
            <option value="toallaDeManoDescartesCloro">Toalla De Mano Descartes Cloro </option>
            <option value="toallaDeManoDescartesPuntoAzul">Toalla De Mano Descartes Punto Azul </option>
  
          </select>
          </p>
        </div>
  
        <div id="extHospital" class="nota">
          
      <h3>EXT Hospital</h3>
          <p>
            <label for="serviciosHospital">Seleccionar Servicios De Descartes</label>
          <select id="reposiciones ">
            <option value="">Seleccionar servicio</option>
            <option value="bataAislamiento">Bata Aislamiento</option>
            <option value="bataPaciente">Bata Paciente</option>
            <option value="bataRegular">Bata Regular</option>
          </select>
          </p>
        </div>
  
        <div id="manteleria" class="nota">
      <h3>Manteleria</h3>
      <p>
        <label for="serviciosManteleria">Seleccionar Servicios Manteleria</label>
        <select id="manteleria">
          <option value="">Seleccionar servicio</option>
          <option value="moyeton">Moyeton</option>
          <option value="moyetonPlastificado">Moyeton Plastificado</option>
          <option value="banda">Banda</option>
          <option value="camino">Camino</option>
          <option value="bambalina">Bambalina</option>
          <option value="bambalinaGrande">Bambalina Grande</option>
          <option value="cubreSilla">Cubre Silla</option>
          <option value="cubreCharola">Cubre Charola</option>
          <option value="cubreCabrilla">Cubre Cabrilla</option>
          <option value="cubreMantel">Cubre Mantel</option>
          <option value="liston">Liston</option>
          <option value="tablon">Tablon</option>
          <option value="tablonGrande">Tablon Grande</option>
          <option value="mantelGrande">Mantel Grande</option>
          <option value="mantelMediano">Mantel Mediano</option>
          <option value="mantelRedondo">Mantel Redondo</option>
          <option value="mantelImperial">Mantel Imperial</option>
          <option value="mantelSpandex">Mantel Spandex</option>
          <option value="servilleta">Servilleta</option>
          <option value="cortinaNegra">CortinaNegra</option>
          <option value="moño">Moño</option>
          <option value="bandera">Bandera</option>
  
        </select>
      </p>
    </div>
  
    <div id="RopaExpoGdlExt" class="nota">
  
      <h3>Ropa ExpoGDl EXT</h3>
      <p>
        <label for="serviciosManteleriaExtra">Seleccionar Servicios EXT ExpoGDl</label>
        <select id="manteleriaExtra">
          <option value="">Seleccionar servicio</option>
          <option value="filipina">Filipina</option>
          <option value="chamarraTermica">Chamarra Termica</option>
          <option value="chaleco">Chaleco</option>
          <option value="trajeDeBombero5pz">Traje De Bombero 5pz</option>
  
        </select>
      </p>
    </div>
             
    <div id="servicioFrente" class="nota">
    <h3>Servicio Frente</h3>
        
      <p>
        <label for="serviciosFrenteLavanderia">Seleccionar Servicios Frente</label>
        <select id="serviciosFrente">
          <option value="">Seleccionar servicio</option>
          <option value="encargoPorKilo">Encargo Por Kilo</option>
          <option value="planchaDocena">Plancha Docena</option>
          <option value="planchaPieza">Plancha Pieza</option>
          <option value="blusas">Blusas</option>
          <option value="camisas">Camisas</option>
          <option value="corbatas">Corbatas</option>
          <option value="chamarras">Chamarras</option>
          <option value="playeras">Playeras</option>
          <option value="faldas">Faldas</option>
          <option value="pantalones">Pantalones</option>
          <option value="sacos">Sacos</option>
          <option value="sweters">Sweters</option>
          <option value="trajes2Pz">Trajes 2Pz</option>
          <option value="trajes3Pz">Trajes 3Pz</option>
          <option value="vestidos">Vestidos</option>
  
        </select>
      </p> 
    </div>
     
        <input type="submit" value="Enviar" >
  
      </form>
    </div>
  
  </body>