 <p>nota-nueva works!</p>
 <div>
  <h1>Nota Nueva</h1>
  <p>Fecha y hora actual: {{ fechaNota | date: 'medium' }}</p> <!-- Se actualiza en tiempo real -->
  <p> <label>Cliente:</label>
  <select [(ngModel)]="clienteSeleccionado">
    <option *ngFor="let cliente of clientes" [value]="cliente.nombre">{{cliente.nombre}}</option>
  </select>
</p>
  <label>Servicio:</label>
  <select [(ngModel)]="servicioSeleccionado">
    <option *ngFor="let servicio of getServiciosClienteSeleccionado()" [value]="servicio">{{servicio}}</option>
  </select>

  <!-- Este es el nuevo selector que se mostrará solo si se selecciona 'descartesHospitalSanJavier' -->
<div *ngIf="clienteSeleccionado === 'descartesHospitalSanJavier'">
  <label>Razón del Descarte:</label>
  <select [(ngModel)]="razonDescarteSeleccionada">
    <option *ngFor="let razon of razonesDescarte" [value]="razon">{{ razon }}</option>
  </select>
</div>
  <label>Cantidad:</label>
  <input type="number" [(ngModel)]="cantidad">
  <button (click)="agregarServicio()" [disabled]="clienteSeleccionado === 'descartesHospitalSanJavier' && !razonDescarteSeleccionada">Agregar Servicio</button>
  <ul>
    <li *ngFor="let servicio of listaServicios">{{servicio.servicio}}: {{servicio.cantidad}}</li>
  </ul>
  <ul>
    <li *ngFor="let servicio of listaServicios; let i = index">
      {{ servicio.servicio }}: {{ servicio.cantidad }}
      <button (click)="editNote(i)">Editar</button>
      <button (click)="deleteService(i)">Borrar</button>
    </li>
  </ul>

  <button (click)="enviarDatos()">Enviar</button>
</div>